/* Breakpoints */

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }
section{
    padding-left: 10rem 3% 2rem ;
}
.footer{
    padding: 2rem 3%;
}
.portfolio{
    padding-bottom: 7rem;
}
.contact{
    padding-bottom: 7rem;
}
}
@media (max-width:768px)
{
    .navbar a{
        display: none;

    }  
    .navbar{
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        padding: 1rem 3%;
         border-top: .1rem solid rgba(0,0,0,.2); 
        box-shadow: 0 .5rem 1rem  rgba(0,0,0,.2);
    }
     .dropdown{
        display: block;
        float: center;
        overflow: hidden;
    }
     .dropdown .dropbtn {
        border: none;
        outline: none;
        color: ivory;
        padding-top: 13px;
        background-color:inherit;
        margin: 0;
    } 
    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 3;
        background-color:#ffcdcd;
        text-align: left;
        float: center;
        top: 100%; 
        left: 0; 
        width: 100%;
        border-top: .1rem solid #ffcdcd; 
        box-shadow: 0 .5rem 1rem  rgba(0,0,0,.2);
    }
     .dropdown-content a {
        float: none;
        color: ivory;
        font-size: 2rem;
        margin: 3rem 0;
        display: block;
        text-align: left;
        padding: 2rem;
        /* height: 30px; */
    }  
    .dropdown-content a:hover {
        background-color:#ffe0e0;
        color:  #D0476E;
     scroll-behavior: smooth;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    
    }
    .dropdown .dropbtn:hover {
        color:#D0476E;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
font-size:2.6rem;
    }
    .home-content h1{
        font-size:5rem;
            }
            .home-img img{
                width: 70vw;
                margin-top: 4rem;
            }
            .about{
                flex-direction: column-reverse;
            }
            .about img{
                width: 70vw;
            }
            .services h2{
                margin-bottom: 3rem;
            }
            .portfolio h2{
                margin-bottom: 3rem;
            }
.portfolio-container{
    grid-template-columns: repeat(2,1fr);
}
        }
        @media (max-width:991px){
            .portfolio-container{
                grid-template-columns: 1fr;
            }
        }

        @media (max-width:450px){
            html{
                font-size: 50%;
            }
            .contact form .input-box input{
                width: 100%;
            }
        }
        @media (max-width:365px){
.home-img img{
    width: 90vw;
}
.about-img img{
    width: 90vw;
}.footer{
    flex-direction: column-reverse;
}
.footer p{
    text-align: center;
    margin-top: 2rem;
}
        }